<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= number_to_currency(@product.price) %></dd>
        </dl>
      </div>
    </div>
    </article>
</section>
<% if current_user %>
<section id="comment-form">
  <h1>Leave a review:</h1>
    <%= form_for [@product, @comment] do |f| %>
    <%= f.text_area :description %>
      <span class="rating">
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3">
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2" checked>
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    <%= f.submit value= 'Review', class: "btn btn-default" %>
    <% end %>
</section>
<% end %>
  <section id="user-reviews" class = col-md-6>
  <h1>Users' reviews:</h1>
  <% if @product.comments.length == 0 %>
    <strong> There are currently no reviews for this product. Be the first one to leave a review! </strong>
    <% else %>
      <%@product.comments.reverse_each do |comment|%>
        <div class="user-review">
          <header class="user-name-rating">
            <span class="user-name">
            <strong> Name:</strong>
            <%= User.find(comment.user_id).first_name %>
            </span>
            <span class="user-rating">
            <strong>Rating:</strong>
            <%= comment.rating %>
            </span>
          </header>
          <content class="user-comment">
          <%= comment.description %>
          </content>
          <% if current_user == User.find(comment.user_id) %>
            <footer class="delete-button">
            <%= link_to "/products/#{@product.id}/comments/#{comment.id}",  method: :delete do %>
             Delete
            <% end %>
          </footer>
          <% end %>
        </div>
    <% end %>
  <% end %>
</section>